version: "3.8"

services:
  mongo_1:
    image: mongocustom:8.0.1
    container_name: mongodb1
    hostname: mongodb1
    networks:
      - mongonet
    ports:
      - "27017:27017"
    volumes:
      - mongo-db-data-1:/data/db
      - mongo-configdb-data-1:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=rentafield
    command: --config /etc/mongod.conf --port 27017
    healthcheck:
      test: ["CMD", "mongosh", "--port", "27017", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mongo_2:
    image: mongocustom:8.0.1
    container_name: mongodb2
    hostname: mongodb2
    networks:
      - mongonet
    ports:
      - "27018:27018"
    volumes:
      - mongo-db-data-2:/data/db
      - mongo-configdb-data-2:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=rentafield
    command: --config /etc/mongod.conf --port 27018
    healthcheck:
      test: ["CMD", "mongosh", "--port", "27018", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mongo_3:
    image: mongocustom:8.0.1
    container_name: mongodb3
    hostname: mongodb3
    networks:
      - mongonet
    ports:
      - "27019:27019"
    volumes:
      - mongo-db-data-3:/data/db
      - mongo-configdb-data-3:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=rentafield
    command: --config /etc/mongod.conf --port 27019
    healthcheck:
      test: ["CMD", "mongosh", "--port", "27019", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mongoinit:
    image: mongocustom:8.0.1
    container_name: mongodbinit
    hostname: mongodbinit
    networks:
      - mongonet
    depends_on:
      - mongo_1
      - mongo_2
      - mongo_3
    entrypoint: [ "sh", "-c" ]
    command: >
      '
      until mongosh --host mongodb1:27017 --username admin --password adminpassword --authenticationDatabase admin --eval "db.adminCommand('ping')"; do
        echo "waiting for mongodb1";
        sleep 2;
      done;
      mongosh --host mongodb1:27017 --username admin --password adminpassword --authenticationDatabase admin --eval "
        rs.initiate(
          {
            _id: \"replica_set_single\",
            version: 1,
            members: [
              { _id: 0, host : \"mongodb1:27017\" },
              { _id: 1, host : \"mongodb2:27018\" },
              { _id: 2, host : \"mongodb3:27019\" }
            ]
          }
        );
      "
      '
    restart: "no"

  redis:
    image: redis:latest
    container_name: redis-stack
    networks:
      - redisnet
    ports:
      - "6379:6379"
    volumes:
      - redis-stack-data:/data
    restart: unless-stopped

volumes:
  mongo-db-data-1:
  mongo-configdb-data-1:
  mongo-db-data-2:
  mongo-configdb-data-2:
  mongo-db-data-3:
  mongo-configdb-data-3:
  redis-stack-data:

networks:
  mongonet: {}
  redisnet: {}