version: "3.8"

services:
  mongodb:
    image: mongo:8.0.1
    container_name: mongodb
    hostname: mongodb
    networks:
      - mongonet
    ports:
      - "27017:27017"
    volumes:
      - mongo-db-data:/data/db
      - mongo-configdb-data:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=rentafield
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis-stack
    networks:
      - redisnet
    ports:
      - "6379:6379"
    volumes:
      - redis-stack-data:/data
    restart: unless-stopped

volumes:
  mongo-db-data:
  mongo-configdb-data:
  redis-stack-data:

networks:
  mongonet: {}
  redisnet: {}